@model IEnumerable<EmployeeManagementSystem.Models.EmployeeAjax>
@{
    Layout = null;
}


<link href="~/CustomBoots/bootstrap.css" rel="stylesheet" />
<link href="~/CustomUi/jquery-ui.css" rel="stylesheet" />

<br />
<h2  text-align:center; color:blueviolet;">All Employee  (Jquery & Ajax)</h2>
<div class="container" style="background-color:azure">
    <a href="#" class="btn btn-primary" onclick="AddNewEmployee(0)">Add New Employee</a>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>Phone</th>
                <th>Group</th>
                <th>Salary</th>
                <th>Image</th>
                <th>Action(Edit)</th>
                <th>Action(Details)</th>
                <th>Action(Delete)</th>
            </tr>

        </thead>
        @foreach (var item in Model)
        {
            var photoPath = "~/Images/" + (item.ImageUrl ?? "no.png");
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@Convert.ToString(String.Format("{0:MM/dd/yyyy}", item.DoB))</td>
                <td>@item.Phone</td>
                <td>@item.Group</td>
                <td>@item.Salary</td>
                <td><img src="@photoPath" height="80" width="70" asp-append-version="true" /></td>

                <td><a href='#' class='btn btn-warning glyphicon glyphicon-edit' onclick='EditEmployee(@item.EmployeeID)'>Edit</a></td>
                <td><a href='#' class='btn btn-primary glyphicon glyphicon-th-list' onclick='DetailsEmployee(@item.EmployeeID)'>Details</a></td>
                <td><a href='#' class='btn btn-danger glyphicon glyphicon-trash' onclick='DeleteEmployee(@item.EmployeeID)'>Delete</a></td>
            </tr>
        }


    </table>
    <div class="modal fade" id="myModal" style=" background-color: dimgrey">
        <div class="modal-dialog">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle" style="color:white"></h4>
            </div>
            <div class="modal-body">
                <form id="AddEmployee" class="SubmitForm1" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">

                    <input type="hidden" id="PlrId" name="EmployeeID" />
                    <label style="color:chartreuse">Employee Name</label><br />
                    <input type="text" id="Name" name="Name" class="form-control" /><br />

                    <label style="color:chartreuse">Email</label><br />
                    <input type="email" id="email" name="email" class="form-control" /><br />

                    <label style="color:chartreuse">Date of Birth</label><br />
                    <input type="datetime" id="dob" name="dob" class="form-control" /><br />

                    <label style="color:chartreuse">Phone</label><br />
                    <input type="text" id="phone" name="phone" class="form-control" /><br />

                    <label style="color:chartreuse">Group</label><br />
                    <input type="text" id="group" name="group" class="form-control" /><br />



                    <label style="color:chartreuse">Salary</label><br />
                    <input type="number" id="salary" name="salary" class="form-control" /><br />

                    <label style="color:chartreuse">Image</label><br />
                    <img src="~/Images/no.png" width="80" height="80" class="change_edit" id="image" />
                    <input type="file" id="UploadImage" name="UploadImage" class="form-control changeImage" /><br />
                    <input type="submit" value="Add Employee" class="btn btn-success" />

                </form>
            </div>
        </div>
    </div>
</div>
<p>
    <a href="/Home/Index/">Go to home</a>
</p>
<div id="partialDiv" style="display:none">
    @*@Html.PartialView("_PlayerDetailsPartial", Model)*@
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/CustomUi/jquery-ui.js"></script>
<script src="~/CustomBoots/bootstrap.js"></script>

<script>
    

    $(document).ready(function () {
        $("#dob").datepicker({
            changeMonth: true, changeYear: true
        });
    })

    $(function () {
        $('.changeImage').change(function () {
            var input = this;
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.change_edit').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0])
            }

        })
    })

    function AjaxPost(formData) {
        
        var ajaxConfig = {
            type: "POST",
            url: "/AjaxCrud/SaveData",
            data: new FormData(formData),
            success: function (result) {
                //alert(result);
                window.location.href = "/AjaxCrud/Index";

            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }


    function AddNewEmployee(EmployeeID) {
        //$("#AddProduct")[0].reset();
        $("#PlrId").val(0);
        $("#ModalTitle").html("Add new Employee");
        $("#myModal").modal();
    }


    function EditEmployee(EmployeeID) {
        var plId = EmployeeID;

        $("#PlrId").val(plId);
        var url = "/AjaxCrud/GetEmployeeById?EmployeeID=" + plId;
        $("#ModalTitle").html("Update Employee Record");
        $("#myModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#PlrId").val(obj.EmployeeID);
                $("#Name").val(obj.Name);
                $("#group").val(obj.Group);
                $("#email").val(obj.Email);
                $("#dob").val(obj.DoB);

                $("#phone").val(obj.Phone);
                //$("#gradeDropdown").val(obj.GradeId);
                $("#salary").val(obj.Salary);
                $("#image").val(obj.ImageUrl);
            }
        })
    }


    function DeleteEmployee(EmployeeID) {
        var Id = EmployeeID;
        $.ajax({
            url: "/AjaxCrud/deleteRecord?Id=" + Id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("deleted successfully");
            },
            error: function () {
                alert("deleted successfully");
                location.reload();
            }
        })
    }
    function DetailsEmployee(EmployeeID) {
        var plrId = EmployeeID;
        $.ajax({
            url: "/AjaxCrud/GetEmployeeDetails?EmployeeID=" + plrId,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#partialDiv").show();
                $("#partialDiv").html(data);
            },
            error: function () {
                alert("Error Occured");
            }
        })
    }
</script>



