@model EmployeeManagementSystem.ViewModels.EmployeeListViewModel
@{
    var photoPath = "/Images/" + (Model.ImageUrl ?? "no.png");
}
<div>
    <h4>Employee Details</h4>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Employee ID</th>
            <td>@Html.DisplayFor(p => p.EmployeeID)</td>
        </tr>
        <tr>
            <th>Employee Name</th>
            <td>@Html.DisplayFor(p => p.Name)</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Html.DisplayFor(p => p.Email)</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Html.DisplayFor(p => p.DoB)</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Html.DisplayFor(p => p.Phone)</td>
        </tr>
        <tr>
            <th>Group</th>
            <td>@Html.DisplayFor(p => p.Group)</td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>@Html.DisplayFor(p => p.Salary)</td>
        </tr>
        <tr>
            <th>Image</th>
            <th><img src="@photoPath" width="75" height="80" /></th>
        </tr>

    </table>
</div>
