@model EmployeeManagementSystem.ViewModels.NewViewModel.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Employee</h2>
@using (Html.BeginForm("AddOrEdit", "ViewModel", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "SubmitForm" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(t => t.EmployeeId)
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(t => t.EmployeeName)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(t => t.EmployeeName)
            @Html.ValidationMessageFor(p => p.EmployeeName, "")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(t => t.Salery)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(t => t.Salery)
            @Html.ValidationMessageFor(p => p.Salery, "")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(t => t.JoiningDate)
        </div>
        <div class="col-sm-6">
            @*@Html.TextBoxFor(t => t.JoiningDate, "date")*@
            @Html.EditorFor(t => t.JoiningDate, "date", @Model.JoiningDate)
            @Html.ValidationMessageFor(p => p.JoiningDate, "")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <div class="col-sm-6">
            <img src="@Url.Content(Model.ImageUrl)" height="80" width="75" class="change_edit" />
            <input type="file" name="ImageFile" class="changeImage" />
            @Html.ValidationMessageFor(model => model.ImageUrl, "")

        </div>
    </div>
    <div class="form-group row row">
        <input type="submit" value="Update Information" class="btn btn-primary" />
    </div>

}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

<script>
    $(document).ready(function () {
        $("#JoiningDate").datepicker({
            changeMonth: true, changeYear: true,
            yearRange: "-35:+1"
        });
    })
    $(function () {
        $('.changeImage').change(function () {
            var input = this;
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.change_edit').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        })
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

